
.drawer-side a.active {
    color: black !important;
    font-weight: 700;
}

.drawer-side a.active:hover {
    background-color: bisque !important;
}

.drawer-side a {
    background-color: transparent !important;
}